@using UniversityMnagementSystemMVC.Models
@model UniversityMnagementSystemMVC.Models.CourseInformatonViewModel
@{
    ViewBag.Title = "CourseInformationView";
}

<h2>Course Information</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Departments, "Department Code", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Department", new SelectList(Model.Departments,"DeptId","Code")
                , "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Departments, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="courseInfo">
        @Html.Partial("_CourseInformationViewPartial",Model)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        $(function () {
            $("#Department").change(function () {
                var id = $("#Department").val();
                $("#courseInfo").load("_CourseInformationViewPartial", { id: id });
            });
        });
</script>
}